@mixin linkStyle() {
    text-decoration: none;
    color: #7C7E83;
}



aside.main_menu {
    background-color: black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    .main_menu{
       display: flex;
       flex-direction: column;   
    }
    .logo_spotify {
        display: flex; 
        align-items: center;
        width: 100%;
        height: 60px;
        padding-left: 10px;
        img {
            height: 30px;
        }
    }
    .search{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    .search_item{
        position: relative;
        padding-left: 10px;
        padding-bottom: 10px;
        display: flex;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            transform: translateX(-50%);
            height: 100%;
            width: 2px;
            background-color: #ADFF2F;
            display: none;
        }
        &:hover::before{
            display: block;
        }
        a{
            @include linkStyle();
        }
    }
    .align_center {
        display: flex;
        align-items: center;
        .home a{
            color: white;
        }
    }
        img{
            height: 20px;
            padding-right:10px;
        }
    }

    
    .group_middle {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .playlist{
        padding-top: 20px;
        padding-left: 10px;
        ul li{
            padding: 10px 0;
            color: #A3A3A3;
            font-size: 0.75rem;
        }
    }
    .plasylist_header_txt{
        padding: 10px 0;
        text-transform: uppercase;
    }
    .crea_playlist{
        padding: 10px 0;
    }
    a{
        @include linkStyle();
    }
    .plus_icon{
        color: black;
        padding: 10px;
        background-color: #A3A3A3;
    }
    .installa_app{
        display: flex;
        color: #7C7E83;
        flex-direction: column;
    }
    .hr_style{
        margin: 0 10px;
        border-color:#7C7E83;
    }
    .installa{
        display: flex;
        padding: 10px 10px;
        a{
            font-size: 12px;
            
        }
        img {
            height: 15px;
        }
    }
    .john_doe{
        display: flex;
        padding: 10px 10px;
        a{
            color: white;
        }
        img{
            height: 15px;
            background-color: #7C7E83;
            border-radius: 50%;
        }
    }
}


