footer {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    .sidebar_left{
        display: flex;
        padding: 0 5px;
        img{
            display: inline;
            height: 2em;
        }
    .side_info{
        display:flex;
        align-self: center;
        .side_txt{
            margin: auto auto;
            padding-left: 5px;
            display: inline-block;
            p{
                font-size: 10px;
            }
        }
    }
    .side_icons {
        display:flex;
        align-self: center;
        .heart_icon{
            padding: 0 10px;
        }
    }
    }
    

    .central_bar{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 20px 40px;
        .icons_player{
            display: flex;
            justify-content: center;
            padding: 20px 0;
            margin: auto 0;
            i{
                font-size: 15px;
                padding:0 10px;
                margin: auto 0;
            }
            .play_btn{
                font-size: 30px;
            }
        }
        .loading_bar{
            position: relative;
            text-align: center;
            margin: 0 auto;
            height: 4px;
            width: 100%;
            background-color: grey;
            border-radius: 40px;
            &::before {
                content: '';
                position: absolute;
                bottom:0;
                left: 0;
                width: 20%;
                height: 4px;
                background-color: #ADFF2F;
                border-radius: 40px;
            }
            .circle_volume_player {
                position: absolute;
                bottom: -5px;
                left: 45px;
                opacity: 0;
                transition: all .3s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }

        }
    }

    .sidebar_right{
        margin: auto 0;
        display: flex;
        justify-content: flex-end;
        i{
            font-size: 12px;
            padding: 0 5px;
        }
        .volume_bar{
          position: relative;
          margin: auto 0;
          height: 4px;
          width: 150px;
          margin-right: 20px;
          background-color: grey;
          border-radius: 40px;
          &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 50px;
              height: 4px;
              background-color: #ADFF2F;
              border-radius: 40px;
          }
          .circle_volume{
                position: absolute;
                bottom:-4px;
                left: 45px;
                opacity: 0;
                transition: all .3s ease-in-out;
                &:hover {
                    opacity: 1;
                }
          }
      }
    }
}




@media all and(max-width: 375px){
    footer .player .sidebar_left img{
        height: 10px;
    }
    footer .sidebar_left .side_info .side_txt h6{
        font-size: 8px;
    }
    footer .sidebar_left .side_info .side_txt p {
        font-size: 8px;
    }
    footer .sidebar_left .side_icons {
        flex-direction: column;
    }
    footer .sidebar_left .side_icons .heart_icon{
        padding: 0 0 ;
    }
    footer .central_bar .loading_bar {
        margin: 0 auto;
        
    }
    footer .central_bar .icons_player i{
        font-size: 10px;
    }
    footer .central_bar .icons_player .play_btn {
        font-size: 20px;
    }
}