#popular{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    .item{
        width: 130px;
        height: 130px;
        margin: 10px 10px;
        position: relative;
        text-align: center;
    }
    img{
        height: auto;
        width: 130px;
        border-radius: 50%;
    }
}


@media screen and(max-width:320px){
    #popular {
        display: flex;
        justify-content: center;
    }
}