#recent_played {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    .item {
        position: relative;
        margin: 10px 10px;
        width: 200px;
        text-align: center;
        img{
            height: auto;
            display: block;
            width: 100%;
            height: auto;
        }
    } 
    .hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
    .play_btn{
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out;
    }
    .img_title {
        padding: 10px 0;
    }
    .txt_description{
        font-size: 9px;
    }
}
