#recent_played {
    z-index: 1;
    flex-wrap: wrap;

    .item {
        z-index: 1;
        margin: 10px 10px;
        position: relative;
        width: 100px;
        height: 100px;
        text-align: center;
        &:hover img{    
            border-radius: 20%;
            transform: scale(1.5);
            box-shadow: 0 10px 20px black;
            z-index: 0;
            
        }
    }
    
    .hover{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100px !important;
        width: 100px !important;
        &:hover{
            opacity: 1;
            border-radius: 20%;
            cursor: pointer;
            transform: scale(1.5);
            z-index: 2;
        }
    }

    .play_btn{
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out;
        

    }
    img{
        height: auto;
        width: 100px;
        transition: all 0.5s ease-in-out;
    }
    .img_title {
        padding: 10px ;
    }
    .txt_description{
        font-size: 12px;
    }



}