#site_content {
    height: calc(100% - 60px);
    .covers_section {
        padding-top: 60px;
        padding: 20px;
        background-color: #141922;
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100% - 300px);
    }
}


