.subscribe {
    background-color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0;
    right: 0;
    
    .btn_subscribe {
        margin: 10px 0;
        text-align: center;
        float: right;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 15px;
        text-transform: uppercase;
    }
}