* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

@import './aside';
@import './navigation-links';
@import './footer';
@import './recent_played';
@import './site-content';
@import './subscribe';
@import './wrapper';
@import './created_for';    
@import './popular'; 