* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside.main_menu {
  background-color: black;
  min-width: 300px;
}

#site_content .covers_section {
  margin-top: 60px;
  padding-top: 60px;
  padding: 20px;
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 300px);
}

#site_content .links {
  display: inline-block;
}

#site_content .border {
  position: relative;
}

#site_content .border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  height: 1px;
  background-color: #ADFF2F;
  display: none;
}

#site_content .border:hover::after {
  display: block;
}

#site_content a {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 0.65rem;
  padding: 0 10px;
  color: #7C7E83;
  text-decoration: none;
  text-transform: uppercase;
}

#site_content nav {
  text-align: center;
}

#site_content .recently_played_txt {
  padding: 15px 0;
}

footer {
  background-color: greenyellow;
  height: 60px;
}

#recent_played {
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#recent_played .item {
  margin: 10px 10px;
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
}

#recent_played .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  height: 170px !important;
  width: 100% !important;
}

#recent_played .hover:hover {
  opacity: 1;
}

#recent_played .play_btn {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#recent_played img {
  width: 170px;
}

#recent_played .img_title {
  padding: 10px;
}

#recent_played .txt_description {
  font-size: 12px;
}

#site_content {
  height: calc(100% - 60px);
}

#site_content .covers_section {
  padding-top: 60px;
  padding: 20px;
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 300px);
}

.subscribe {
  background-color: rgba(0, 0, 0, 0.9);
  height: 60px;
  width: calc(100% - 300px);
  position: fixed;
  top: 0;
  right: 0;
}

.subscribe .btn_subscribe {
  margin: 10px 0;
  text-align: center;
  float: right;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.wrapper {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */